body{
  margin:0;
  font-family:Arial;
  background:#06131c;
  color:white;
}

/* HERO */
.hero{

  height:100vh;

  background: url("img/Diseño\ para\ fondo\ de\ una\ página.jpg") center/cover no-repeat;

  display:flex;

  align-items:center;

  justify-content:center;

  position:relative;

  text-align:center;

}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(none,none,none,.5);
}

.img_portada{
  position:absolute;
  inset:0;
  width:20vh%;
  height:20vh;


}

.hero-content{
  position:relative;
  margin-top: 70vh;

}

.hero h1{
  font-size:4rem;
}

.buttons{
  margin-top:20px;
}

.btn{
  padding:12px 25px;
  border-radius:30px;
  border:none;
  cursor:pointer;
  margin:5px;
  text-decoration:none;
  display:inline-block;
}

.primary{
  background:#00bcd4;
  color:black;
}

.ghost{
  border:1px solid white;
  color:white;
}

/* SECTIONS */
.section{
  padding:90px 10%;
  text-align:center;
}

/* GALLERY */
.grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:50px;
  margin-top:30px;
}

.grid img{
  width: 59vh;
  height:60vh;
  object-fit:center ;
  border-radius:10px;
}


/* CARDS */
.cards{
  display:flex;
  gap:10px;
  justify-content:center;
  flex-wrap:wrap;
}

.gallery h2{

  text-align:center;

  font-size:2.2rem;

  margin-bottom:25px;

  letter-spacing:1px;

}

.card{
  background:rgba(255,255,255,.06);
  padding:20px;
  border-radius:12px;
}

/* BOOKING */
.booking-box{
  max-width:400px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:10px;
}

input, textarea{
  padding:12px;
  border-radius:8px;
  border:none;
}

/* PAYMENTS */
.payments{
  display:flex;
  justify-content:center;
  gap:10px;
}

.pay{
  padding:15px 20px;
  border-radius:30px;
  border:none;
  cursor:pointer;
}

.stripe{ background:#635bff; color:white; }
.paypal{ background:#ffc439; color:black; }

/* MAP */
.map{
  width:100%;
  height:300px;
  border:none;
  border-radius:10px;
}

/* WHATSAPP */
.whatsapp{
  background:#25D366;
  color:black;
}

/* FOOTER */
footer{
  text-align:center;
  padding:50px;
  background:black;
}

/* ANIMATION */
.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}

.reveal.active{
  opacity:1;
  transform:translateY(0);
}
